* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #141313;
}

#spantext {
    color: black;
    
}
.go{
    animation-duration: 2s;
}

.navi {
    float: left;
}

.exc {
    color: black;
}

#bellapizzeria {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: black;
}
.landing{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
  }
li {
    display: inline;
    margin-right: 20px;
}
.h-buttons {
    margin-top: 90px;
    margin-bottom: 100px;
}
.card-title{
    text-align: center;
    color: green;
    font-weight: 800;
}
.controls-top h2{
  color: rgb(5, 172, 5);
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bolder;
}
.col-md-4{
  border-radius: 10%;
  padding: 10px;

}

.menu-btn {
    border-radius: 20px;
    margin-top: 20px;
    color: wheat;
}

figcaption {
    font-family: 'Oswald', serif;
}

#menu {
    padding-top: 20px;
}

#order-pizza {
    color: black;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}

.order-summary h1, .summary, .contact {
    color: black;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}
.contacts{
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}
#contact h2{
    text-align: center;
  }
input[type="email"] {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}

.click-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.get-pizza {
    margin-top: 40px;
}

.contact {
    padding-top: 20px;
}

.cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: wheat;
    border-radius: 10px;
}

.go {
    border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.deliver, .delivernot {
    margin: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: wheat;
    border-radius: 20px;
    text-decoration-color: blue;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}

#list {
    color: #000;
}

.pizz {
    color: lawngreen;
}

.menu {
    margin-top: 30px;
    padding: 0;
}

#menu {
    font-family: 'Love Ya Like A Sister', cursive;
}

.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: wheat;
}
.contact-us{ 
    color: black;
    text-align: center;
    background-color: wheat;
  }
  #contactdetails h2{
    text-align: left;
  }
  .contact-overlay{
      height: inherit;
      width: inherit;
      background-color: wheat;
  }
  #about-us .content {
    padding: 20px 30px 40px;
    text-align: end;

/*Background pic*/
 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.overlay {
    background-color:wheat;
    height: 100%;
}

#push {
    padding-top: 10%;
}

.landing-text {
    margin-top: 10%;
}

.landing-text h1, h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}


a {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

figure img {
    height: 260px;
    width: 260px;
}

.karibu-txt {
    margin-top: 160px;
}

.txt {
    font-family: system-ui, cursive;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

.karibu-img {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 130px;
    height: 400px;
    width: 400px;
}

.welcome {
    padding-top: 30px;
}

.rads {
    display: flex;
    flex-wrap: wrap;
}

.fab {
    margin: 60px 15px 0 15px;
}

/* Collapse nav start*/
.top-nav-collapse {
    background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

/* Collapse nav end*/


/** Media Queries start **/

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
        overflow-x: hidden;
    }

    #push {
        padding-top: 40%;
    }

    .karibu-txt {
        margin-top: 50px;
    }

    .menu-overlay {
        width: 100%;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.7);
    }


    .welcome {
        padding-top: 10px;
    }

    .cdata {
        padding: 10px 5px 10px 5px;
    }

}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }

    .piz-pap {
        font-size: 50px;
    }

    ul > .nav-items {
        display: inline;
        margin-right: 20px;
        margin-left: 12px;
    }
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    }

}
